# Estes são arquivos criados enquanto um arquivo .odt estava aberto no LibreOffice, por isso resolvi ignorá-los.
docs/.~lock.Plano de Testes.odt#
docs/.~lock.Relatório de Features.odt#
docs/.~lock.Relatório de Casos de Teste.odt#